# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.swp

# Virtual environment
.venv/
venv/
env/
ENV/
.env
# Jupyter
.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/